.review {
    width: 639px;
    min-height: 391px;
    box-sizing: border-box;

    padding: 36px 0 41px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    border-top-left-radius: 100px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 100px;

    background-color: #fff;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.review_hidden {
    position: absolute;
    right: -310px;
    top: 376px;
}

.review__img {
    width: 109px;
    height: 109px;

    position: absolute;
    top: -55px;

    border-radius: 50%;

    object-fit: contain;
    object-position: left;
}

.review__rating {
    margin-top: 35px;
    font-size: 32px;
    line-height: 1;

    color: #FFBB00;
}

.review__review {
    max-width: 383px;
    min-height: 155px;

    margin: 38px 0 16px;
    padding: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.81;
    text-align: center;

    color: #5C6574;
}

.review__name {
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.81;
    text-align: center;

    color: #101A24;
}

.review__profession {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 15px;
    line-height: 1.93;
    text-align: center;

    color: #5C6574;
}